<h2> <%= @cocktail.name %></h2>

<p> ingredients: <% @cocktail.ingredients.each do |ingredient, dose| %>
  <p> <%= ingredient.name %> <%= dose.description %> | <%= link_to 'delete', cocktail_doses_path(@cocktail, @dose) %></p>
  <% end  %> </p>

<p> <%= link_to 'add new dose', new_cocktail_dose_path(@cocktail, @dose) %>  </p>
<hr>
<p> <%= link_to 'back to index', cocktails_path(@cocktail) %>  </p>


